%section
  %h3 Week Chart

  #week_chart
    &nbsp;

%hr

%section
  %h3 Month Chart

  #month_chart
    &nbsp;

%hr

%section
  %h3 Quarter Chart

  #quarter_chart
    &nbsp;

%hr

%section
  %h3 Semi-Annual Chart

  #semiannual_chart
    &nbsp;

