!!! 5
%head
  %meta{ 'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1" }

  %title Delorean.js -- the time series graphing library

  %link{ :type => "text/css", :rel => "stylesheet", :href => "/stylesheets/screen.css", :charset => "utf-8" }

%body
  %header
    %h1 Delorean.js
    %h4 time series graphing library

  %section#twitter
    Follow me on twitter 
    %a{:href => 'http://twitter.com/jsmestad'} @jsmestad 
    and fork the code on
    %a{:href => 'https://github.com/jsmestad/delorean.js'} github



  #main

    %section#features
      %h3 Features
      
      %ul
        %li
          Graph can visually scale from 7 days to 6 months of data (7 to 180 points)
        %li
          Options can be passed in to modify all visual aspects (WIP)
        %li
          Support for multiple plot lines (WIP)
        %li
          Tool tips (WIP)

    %ul#navigation
      %li
        %a{:href => "/"} Single Line Examples
      %li
        %a{:href => "/multiple_lines"} Multiple Line Examples

    = yield

  %footer
    Copyright &copy; 2011 Justin Smestad.

  %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"}
  %script
    !window.jQuery && document.write(unescape('%3Cscript src="/javascripts/lib/jquery-1.4.4.js"%3E%3C/script%3E'))
  %script{ :src => "/javascripts/lib/modernizr.js"}
  %script{ :src => "/javascripts/lib/raphael.js"}
  %script{ :src => "/javascripts/lib/raphael.path.methods.js"}
  %script{ :src => "/javascripts/lib/underscore.js"}
  %script{ :src => "/javascripts/strftime.js"}
  %script{ :src => "/javascripts/delorean.js"}
  %script{ :src => "/javascripts/application.js"}
