%section
  %h3 Week Chart

  #multi_week_chart
    &nbsp;

%hr

%section
  %h3 Month Chart

  #multi_month_chart
    &nbsp;

%hr

%section
  %h3 Quarter Chart

  #multi_quarter_chart
    &nbsp;

%hr

%section
  %h3 Semi-Annual Chart

  #multi_semiannual_chart
    &nbsp;

